@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@media print {
	html,
	body {
		print-color-adjust: exact;
		-webkit-print-color-adjust: exact;
	}

	@page {
		page-orientation: upright;
		size: A4 portrait;
		margin: 10mm 15mm;
	}
}
